.header {
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
}

.header__logo {
    width: 8rem;
    transition: 0.25s ease-in-out;
}

.header__logo > img {
    width: 100%;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__logo:active {
    opacity: 0.6;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header__nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    transition: 0.25s ease-in-out;
}

.header__nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-primary);
    transition: 0.25s ease-in-out;
}

.header__nav-link:active {
    opacity: 0.7;
}

.header__nav-link:hover::before {
    width: 100%;
}

.header__nav-link--active::before {
    width: 100%;
}