.login {
    display: grid;
    grid-template-columns: 3fr 4fr;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 900px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(var(--button-background), 0.5);
    align-self: center;
}

.login__cover {
    width: 100%;
    height: 83vh;
    border-radius: 14px;
    background-image: url("../../../images/login-cover.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}