.groups {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.groups__title {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-primary);
}

.groups__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.groups__item {
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 105%;
    background-repeat: no-repeat;
    min-height: 260px;
    height: 80vh;
    max-height: 720px;
    box-shadow: 0 4px 4px #0000004D;
}

.groups__item:nth-child(1) {
    background-image: url("../../../images/group1.png");
}

.groups__item:nth-child(2) {
    background-image: url("../../../images/group2.png");
}

.groups__item:nth-child(3) {
    background-image: url("../../../images/group3.png");
}

.groups__item:nth-child(4) {
    background-image: url("../../../images/ability4.png");
}


.groups__item-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-primary);
}

.groups__item-description {
    font-size: 2rem;
    font-weight: 200;
    color: var(--text-primary);
}