.feedback {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px 80px 80px;
    background-image: url("../../../images/feedback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feedback__header{
    display: flex;
    flex-direction: column;
}

.feedback__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-primary);
}

.feedback__description {
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.feedback__fields {
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.feedback__fields-person {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback__fields-label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.feedback__fields-input {
    padding: 8px;
    background-color: var(--background-primary);
    border-radius: 18px;
    border: 1px solid var(--border-primary);
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    min-width: 335px;
    width: 50vw;
    max-width: 600px;
    max-height: 60px;
    transition: 0.25s ease-in-out;
}

.feedback__fields-textarea {
    background-color: var(--background-primary);
    border-radius: 18px;
    border: 1px solid var(--border-primary);
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    min-width: 335px;
    width: 50vw;
    max-width: 600px;
    min-height: 100px;
    height: 100%;
    resize: none;
    transition: 0.25s ease-in-out;
}

.feedback__form-button {
    border: none;
    border-radius: 25px;
    padding: 16px;
    background-color: var(--button-background);
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
    cursor: pointer;
    max-width: 415px;
    transition: 0.25s ease-in-out;
}

.feedback__form-button:hover {
    background-color: var(--button-background-hover);
}
.feedback__form-button:active {
    background-color: var(--button-background-active);
}

@media (max-width: 1500px) {
    .feedback__fields {
        flex-direction: column;
        gap: 10px;
    }

    .feedback__fields-person {
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .feedback {
        padding: 20px 20px 40px;
        gap: 20px;
    }

    .feedback__title {
        font-size: 3rem;
    }

    .feedback__description {
        font-size: 2rem;
    }

    .feedback__form {
        gap: 40px;
    }

    .feedback__fields-input {
        width: 100%;
        max-width: none;
    }

    .feedback__fields-textarea {
        width: 100%;
        max-width: none;
    }

    .feedback__form-button {
        padding: 12px 24px;
        width: 100%;
        max-width: none;
    }
}