.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.settings__header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 40px;
}

.settings__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-primary);
}

.settings__separator {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
}

.settings__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.settings__option {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings__option-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-primary);
}

.settings__option-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    list-style-type: none;
}

.settings__option-item {
    width: 100%;
}

.settings__option-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 200;
    color: var(--text-primary);
}

.settings__option-input {

    padding: 10px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    border-radius: 18px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    transition: 0.25s ease-in-out;
}

input.settings__option-input {
    cursor: text;
}

.settings__option-input:hover {
    background-color: var(--background-hover);
    border-color: var(--border-hover);
}

.settings__option-input:active {
    background-color: var(--background-inactive-active);
    border-color: var(--border-active);
}

.settings__option-variant {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.settings__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
}

.settings__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--text-primary);
    background-color: var(--button-background);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.settings__button:hover {
    background-color: var(--button-background-hover);
}

.settings__button:active {
    background-color: var(--button-background-active);
}

@media (max-width: 1400px) {
    .settings__option-grid {
        grid-template-columns: 1fr;
    }

    .settings__button {
        padding: 8px;
    }
}

@media (max-width: 800px) {
    .settings__option-label {
        flex-direction: column;
        align-items: stretch;
    }

    .settings__option-input {
        max-width: none;
    }

    .settings__buttons {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .settings__header {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .settings__separator {
        margin-top: 0;
    }
}