.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.error__container {
    display: flex;
    flex-direction: column;
}

.error__title {
    text-align: center;
    font-size: 16rem;
    font-weight: 600;
    color: var(--text-primary);
}

.error__description {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-primary);
}

.error__link {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--text-primary);
    transition: 0.25s ease-in-out;
}

.error__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: var(--text-primary);
    transition: 0.25s ease-in-out;
}

.error__link:hover::before {
    width: 100%;
}

.error__link:active {
    opacity: 0.7;
}