.register {
    display: grid;
    grid-template-columns: 3fr 4fr;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 900px;
    padding: 20px;
    border-radius: 25px;
    background-color: #33333380;
    align-self: center;
}

.register__cover {
    width: 100%;
    min-height: 83vh;
    border-radius: 14px;
    background-image: url("../../../images/login-cover.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.register__form {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.register__title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-primary);
}

.register__fields-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register__field {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.register__input {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    padding: 12px;
    border-radius: 18px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    transition: 0.25s ease-in-out;
}

.register__input:hover {
    background-color: var(--background-hover);
}

.register__input:active {
    background-color: var(--background-inactive-active);
}

.register__actions {
    display: flex;
    justify-content: space-between;
}

.register__link {
    position: relative;
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--text-primary);
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.register__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--text-primary);
    left: 0;
    bottom: 0;
    transition: 0.25s ease-in-out;
}

.register__link:hover::before {
    width: 100%;
}

.register__link:active {
    opacity: 0.7;
}

.register__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
    border-radius: 25px;
    border: none;
    background-color: var(--button-background);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.register__button:hover {
    background-color: var(--button-background-hover);
}

.register__button:active{
    background-color: var(--button-background-active);
}

@media (max-width: 1000px) {
    .main {
        padding: 0;
        height: 100vh;
    }

    .register {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;
        max-height: none;
        border-radius: 0;
        background-color: transparent;
    }

    .register__cover {
        position: absolute;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        z-index: -1;
    }

    .register__form {
        padding: 0;
    }

    .register__title {
        text-align: center;
    }

    .register__input {
        padding: 8px;
        min-width: 335px;
    }

    .register__button {
        padding: 8px;
    }
}