.summary {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.summary__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 40px;
}

.summary__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-primary);
}

.summary__separator {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
}

.summary__header-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    cursor: pointer;
}

.summary__header-option {
    background-color: var(--background-primary);
}

.summary__content {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.summary__goals {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary__goal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
}

.summary__goal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-primary);
    font-weight: 200;
}

.summary__goal-title {
    font-size: 2.25rem;
}

.summary__goal-type {
    font-size: 1rem;
}

.summary__goal-progress {
    color: var(--text-primary);
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 15px;
}

.summary__goal-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--text-primary);
    font-weight: 200;
    font-size: 2.5rem;
}

.summary__goal-status--current {
    font-weight: 600;
}

.summary__goal-status--target {
    font-size: 1.5rem;
}

.rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rating__controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rating__controls-label {
    padding: 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    text-align: center;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.rating__controls-label:hover {
    background-color: var(--background-hover);
    border-color: var(--border-hover);
}

.rating__controls-label:has(.rating__controls-input[type='radio']:checked) {
    background-color: var(--background-active);
    border-color: var(--border-active);
}

.rating__controls-input {
    width: 0;
    height: 0;
    appearance: none;
    visibility: hidden;
}

.rating__separator {
    width: 100%;
    height: 3px;
    background-color: var(--border-primary);
}

.rating__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating__item {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating__item-title {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
}

.rating__item-name {
    font-weight: 400;
    font-size: 2.25rem;
}

.rating__item-count {
    font-weight: 200;
    font-size: 1.25rem;
}

.rating__item-amount {
    color: var(--text-primary);
    font-weight: 200;
    font-size: 2.25rem;
}

.rating__item-amount--bold {
    font-weight: 600;
}