@import "base/header/header.css";
@import "hero/hero.css";
@import "groups/groups.css";
@import "abilities/abilities.css";
@import "tariffs/tariffs.css";
@import "feedback/feedback.css";
@import "base/footer/footer.css";

.main {
    padding-top: 80px;
}