.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calendar__header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 40px;
}

.calendar__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-primary);
}

.calendar__separator {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
}

.calendar__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendar__summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px;
    max-width: 600px;
}

.calendar__summary-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calendar__summary-title {
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-primary);
}

.calendar__summary-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.calendar__summary-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.calendar__summary-name {
    font-size: 2.25rem;
    font-weight: 200;
    color: var(--text-primary);
}

.calendar__summary-sum {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-primary);
}

.calendar__summary-popular {
    display: flex;
    flex-direction: column;
}

.calendar__summary-prefix {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.calendar__summary-result {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-primary);
}

.calendar__board {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.calendar__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.calendar__controls-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.calendar__controls-button:hover {
    opacity: 0.8;
}

.calendar__controls-button:active {
    opacity: 0.6;
}

.calendar__controls-current {
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-primary);
}

.calendar__grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.calendar__grid-days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    gap: 20px;
}

.calendar__grid-day {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--text-primary);
}

.calendar__grid-cells {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    list-style-type: none;
}

.calendar__grid-cell {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 25px;
    background-color: var(--background-secondary);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: 200;
    color: var(--text-primary);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.calendar__grid-cell:hover {
    background-color: var(--background-hover);
}

.calendar__grid-cell:active {
    background-color: var(--background-primary);
}

.calendar__grid-cell--inactive {
    background-color: var(--background-inactive);
}

.calendar__grid-cell--inactive:hover {
    background-color: var(--background-inactive-hover);
}

.calendar__grid-cell--inactive:active {
    background-color: var(--background-inactive-active);
}

@media (max-width: 1500px) {
    .calendar__board {
        max-width: 600px;
    }

    .calendar__grid-cells {
        gap: 10px;
    }

    .calendar__grid-cell {
        border-radius: 15px;

    }
}

@media (max-width: 1200px) {
    .calendar__content {
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
    }

    .calendar__summary {
        max-width: none;
    }

    .calendar__board {
        max-width: none;
    }

    .calendar__grid-days {
        max-width: 600px;
    }

    .calendar__grid-cells {
        max-width: 600px;
    }

    .calendar__controls {
        gap: 40px;
    }

    .calendar__controls-button {
        width: 14px;
    }

    .calendar__controls-button > img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .calendar__header {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .calendar__separator {
        margin-top: 0;
    }

    .calendar__summary-header {
        gap: 20px;
    }

    .calendar__controls-current {
        max-width: 160px;
        text-align: center;
    }

    .calendar__grid-cell {
        border-radius: 10px;
        padding: 6px;
    }
}