@font-face {
    font-family: "Unbounded";
    src: local("Unbounded"),
        url("../fonts/Unbounded.woff2") format('woff2'),
        url("../fonts/Unbounded.ttf") format('truetype');
    font-display: swap;
}