@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #252525, #030303);
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px 80px 80px;
    gap: 100px;
}