@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #252525, #030303);
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px 80px 80px;
    gap: 100px;
}

@media (max-width: 1500px) {
    html {
        font-size: 14px;
    }

    .main {
        padding: 20px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 8px;
    }
}