.footer {
    width: 100%;
    padding: 40px 80px;
    background-color: var(--footer-background);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo > img {
    width: 7.5rem;
}

.footer__logo-company {
    font-size: 1rem;
    font-weight: 200;
    color: var(--text-primary);
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 120px;
}

.footer__nav-link {
    position: relative;
    width: max-content;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-primary);
    text-decoration: none;
}

.footer__nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-primary);
    transition: 0.25s ease-in-out;
}

.footer__nav-link-link:active {
    opacity: 0.7;
}

.footer__nav-link:hover::before {
    width: 100%;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__socials-link {
    width: 3.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--background-secondary);
    transition: 0.25s ease-in-out;
}

.footer__socials-link:hover {
    opacity: 0.8;
}

.footer__socials-link:active {
    opacity: 0.6;
}

.footer__socials-link > img {
    width: 100%;
    height: 100%;
}